@charset "UTF-8";
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 1001px) {
  .is-sp {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .is-sp {
    display: none;
  }
}

/* colors
-------------------------------*/
/*===============================
# common
================================*/
html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.noscroll {
  overflow: hidden;
}

@media (max-width: 767px) {
  body {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 90%;
  max-width: 1022px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    width: 95%;
  }
}

.wrapper {
  width: 80%;
  max-width: 907px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 95%;
  }
}

.section-title {
  text-align: center;
  padding-top: 55px;
}

.section-title h2 {
  font-size: 3.2rem;
  line-height: 1.4375;
}

@media (max-width: 767px) {
  .section-title h2 {
    font-size: 2.8rem;
  }
}

.en-title {
  color: #3BA6C9;
  margin-top: 10px;
}

.button {
  display: inline-block;
  width: 155px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(to right, #FA41CC, #6020B0);
  color: #fff;
  border-radius: 10px;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.button:hover {
  opacity: 0.7;
}

/* header
-------------------------------*/
.header {
  height: 94px;
  background: #fff;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header .button {
    display: none;
  }
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header-title h1 {
  font-size: 2.4rem;
  line-height: 1.45833;
  padding-left: 16px;
}

.header-title:hover {
  opacity: 0.7;
}

.logo {
  width: 47px;
}

.header-nav {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .header-nav {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 200;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header-nav ul {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
}

.header-nav ul li {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header-nav ul li:not(:first-child) {
  margin-left: 46px;
}

.header-nav ul li:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .header-nav ul li {
    margin-bottom: 40px;
  }
  .header-nav ul li:not(:first-child) {
    margin-left: 0;
  }
}

/* top
-------------------------------*/
.top {
  position: relative;
  overflow: hidden;
  height: 674px;
  margin-top: 93px;
}

@media (max-width: 767px) {
  .top {
    margin-top: 0px;
    height: auto;
  }
}

.top .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 131px;
}

@media (max-width: 767px) {
  .top .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top .button {
  margin-top: 45px;
}

.circle {
  position: absolute;
  z-index: -1;
  right: -85px;
  top: -123px;
}

.top-lead {
  font-size: 3.2rem;
  line-height: 1.4375;
  padding-bottom: 44px;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .top-lead {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .top-lead {
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .top-text {
    text-align: center;
  }
}

.top-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .top-img {
    display: none;
  }
}

.sp-img {
  display: none;
}

@media (max-width: 767px) {
  .sp-img {
    display: block;
  }
}

@media (max-width: 767px) {
  .top-button {
    text-align: center;
  }
}

/* feature
-------------------------------*/
.feature {
  margin-top: 15px;
}

.feature-item {
  margin-top: 50px;
}

@media (min-width: 1001px) {
  .feature-item {
    margin-top: 57px;
  }
  .feature-item:nth-child(2) {
    margin-top: 86px;
  }
  .feature-item:nth-child(3) {
    margin-top: 136px;
  }
}

.feature-title {
  font-size: 2.8rem;
  line-height: 1.42857;
  text-align: center;
}

@media (max-width: 767px) {
  .feature-title {
    font-size: 2.5rem;
  }
}

.feature-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  position: relative;
}

@media (min-width: 1001px) {
  .feature-body {
    width: 100%;
  }
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reverse .feature-content {
  margin-right: auto;
  margin-left: 0;
}

.feature-content {
  margin-left: auto;
}

@media (max-width: 767px) {
  .feature-content {
    margin: 0;
  }
}

.feature-lead {
  font-size: 2.4rem;
  line-height: 2;
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .feature-lead {
    font-size: 2rem;
  }
}

.feature-img {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

@media (min-width: 1001px) {
  .feature-img {
    opacity: 1;
  }
}

/* price
-------------------------------*/
.price {
  background: #EEFBFB;
  margin-top: 154px;
}

@media (max-width: 767px) {
  .price {
    margin-top: 100px;
  }
}

.price-table {
  margin-top: 70px;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

tr {
  height: calc(410px / 4);
}

th,
td {
  vertical-align: middle;
  border: 1px solid #E5E5E5;
}

th {
  width: 279px;
}

@media (max-width: 767px) {
  th {
    width: auto;
  }
}

td {
  padding-left: 30px;
}

.price-text {
  text-align: center;
  margin-top: 45px;
  padding-bottom: 68px;
}

/* faq
-------------------------------*/
.faq-items {
  margin: 32px 0 70px;
  font-size: 1.4rem;
  line-height: 1.85714;
}

.faq-box {
  border: 1px solid #E5E5E5;
}

.faq-box_q {
  text-align: center;
  padding: 18px;
  cursor: pointer;
}

.faq-box_a {
  background: #F2F2F2;
  padding: 17px 83px 30px 38px;
  display: none;
}

@media (max-width: 767px) {
  .faq-box_a {
    padding: 10px;
  }
}

.open {
  display: block;
}

/* blog
-------------------------------*/
.blog {
  background: #EEFBFB;
}

.blog-inner {
  margin: 0 70px;
}

@media (max-width: 767px) {
  .blog-inner {
    margin: 0 10px;
  }
}

.blog-items {
  margin-top: 45px;
  padding-bottom: 71px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1001px) {
  .blog-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 767px) {
  .blog-items {
    padding-bottom: 30px;
  }
}

.blog-item {
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1001px) {
  .blog-item {
    width: calc(33.33333% - 30px * 2 / 3);
  }
  .blog-item:not(:first-child) {
    margin-left: 30px;
  }
}

.blog-content {
  padding: 10px 30px 10px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-content time {
  text-align: right;
  margin-top: auto;
}

.blog-title {
  font-size: 1.8rem;
  line-height: 1.44444;
}

/* works
-------------------------------*/
.works-items {
  margin: 68px 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .works-items {
    margin: 30px 0;
  }
}

.works-item {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  display: block;
}

.works-content {
  padding: 0 18px 40px 16px;
}

.works-detail {
  font-size: 1.4rem;
  line-height: 1.42857;
  margin-top: 30px;
}

/* contact
-------------------------------*/
.contact {
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(70%, #63FBD7), to(#67FFD6));
  background: linear-gradient(to right, #05A5FA, #63FBD7 70%, #67FFD6);
  padding-bottom: 70px;
}

.contact .section-title {
  color: #fff;
}

.contact .section-title .en-title {
  color: #fff;
}

.contact-lead {
  color: #fff;
  text-align: center;
  margin: 36px 0 44px;
}

.contact-body {
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 35px 63px;
}

@media (max-width: 767px) {
  .contact-body {
    padding: 35px;
  }
}

.contact-title {
  margin: 20px 0 39px;
  position: relative;
}

.contact-title:not(:first-child) {
  margin-top: 0;
}

.contact-title::after {
  content: "必須";
  position: absolute;
  font-size: 1.4rem;
  background: #0C449B;
  color: #fff;
  border-radius: 10px;
  padding: 4px 16px;
  margin-left: 23px;
  top: calc(100% - 23px);
}

.contact-input [type="text"],
.contact-input [type="email"],
.contact-input textarea {
  background: #EEFBFB;
  border: none;
  width: 499px;
  height: 43px;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .contact-input [type="text"],
  .contact-input [type="email"],
  .contact-input textarea {
    width: 100%;
  }
}

.contact-input textarea {
  width: 100%;
  min-height: 179px;
  resize: none;
}

.contact-footer {
  text-align: center;
}

.contact-privacy {
  margin: 15px 0 30px;
}

.privacy-text {
  cursor: pointer;
}

.contact-submit [type="submit"] {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.contact-message {
  text-align: center;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

/* footer
-------------------------------*/
.footer {
  background: #F8F8F8;
  text-align: center;
}

.footer-title {
  font-size: 2.4rem;
  line-height: 1.16667;
  padding: 43px 0 21px;
}

@media (max-width: 767px) {
  .footer-title {
    padding: 20px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .footer-list {
    display: block;
  }
}

.footer-item:first-child {
  margin-right: 29px;
}

@media (max-width: 767px) {
  .footer-item:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.footer-copy {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: normal;
  padding: 52px 0 49px;
}

@media (max-width: 767px) {
  .footer-copy {
    padding: 20px;
  }
}

/* drawer
-------------------------------*/
.burger-btn {
  display: none;
}

@media (max-width: 767px) {
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 300;
    border: none;
  }
  .burger-btn.close .bar_top {
    -webkit-transform: translate(-50%, 10px) rotate(45deg);
            transform: translate(-50%, 10px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    -webkit-transform: translate(-50%, -8px) rotate(-45deg);
            transform: translate(-50%, -8px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
}

.nav-wrapper {
  display: block;
}

@media (max-width: 767px) {
  .nav-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }
}

@media (max-width: 767px) {
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #333;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
}
